<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudMarket.mapper.RecordMapper">
    <insert id="addRecord" parameterType="com.cloudMarket.domain.Record">
        insert into record(record_id,record_productname,record_username,record_borrowtime,record_need)
        values (#{id},#{productName},#{userName},#{borrowTime},#{need})
    </insert>
</mapper>